<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layout.css">
</head>

<body>

    <div class="pad">
        <div style="margin-bottom: var(--calculated-spacing);">
            <div class="key">Reset</div>
            <div class="key">Recalib</div>
            <div class="key">H2</div>
            <div class="key">H3</div>
        </div>
        <div>
            <div class="key">A0</div>
            <div class="key">A1</div>
            <div class="key">A2</div>
            <div class="key">A3</div>

        </div>
        <div>
            <div class="key">B0</div>
            <div class="key">B1</div>
            <div class="key">B2</div>
            <div class="key">B3</div>
        </div>
        <div>
            <div class="key">C0</div>
            <div class="key">C1</div>
            <div class="key">C2</div>
            <div class="key">C3</div>
        </div>
        <div>
            <div class="key">D0</div>
            <div class="key">D1</div>
            <div class="key">D2</div>
            <div class="key">D3</div>
        </div>
    </div>



    <div class="pad" style="width: 97.8mm;">
        <div style="margin-bottom: var(--calculated-spacing);">
            <div class="switch">Reset</div>
            <div class="switch">Recalib</div>
            <div class="switch">H2</div>
            <div class="switch">H3</div>
        </div>
        <div>
            <div class="switch">A0</div>
            <div class="switch">A1</div>
            <div class="switch">A2</div>
            <div class="switch">A3</div>

        </div>
        <div>
            <div class="switch">B0</div>
            <div class="switch">B1</div>
            <div class="switch">B2</div>
            <div class="switch">B3</div>
        </div>
        <div>
            <div class="switch">C0</div>
            <div class="switch">C1</div>
            <div class="switch">C2</div>
            <div class="switch">C3</div>
        </div>
        <div>
            <div class="switch">D0</div>
            <div class="switch">D1</div>
            <div class="switch">D2</div>
            <div class="switch">D3</div>
        </div>
    </div>

</body>

</html>